/* imports */

@import './inc/_font.scss';

/* imports */


/* constant styles */

%flex {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    border: 1px red solid;
}


/* constant style */


/* reset css */

* {
    font-family: 'iranyekan', Times, serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    direction: ltr;
    font-weight: 500;
    font-size: 14px;
}

html {
    direction: rtl;
}

a {
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

body {
    background-color: #f5f5f5;
}

a:hover,
a.active {
    text-decoration: none;
    color: black;
    padding: 10PX 20px;
    background-color: white;
    border-radius: 10px;
}

li,
ol,
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.container-fluid {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row:after {
    clear: both;
    content: " ";
    display: table
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.img-responsive {
    width: 100px;
    height: auto;
}

.round-corner {
    border-radius: 5px;
}

[class^="col-"] {
    float: right;
}


/* reset css */


/* header start */

.header_top {
    @extend %flex;
    // height: 40px;
    padding: 20px 10px;
}

.header_buttom {
    @extend %flex;
    justify-content: flex-start;
    padding: 20px 10px;
    &--menu {
        @extend %flex;
        &--item {
            padding: 0px 5px;
        }
    }
    &--city {
        marign: 0px auto 0px 10px;
        // align-self: end;
    }
}


/* header start */